<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer" />
    <title>Manhwa Mood</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='elegant-icons.css') }}">


    <!-- Css Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename=('bootstrap.min.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('font-awesome.min.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('elegant-icons.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('plyr.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('nice-select.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('owl.carousel.min.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('slicknav.min.css'))}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename=('style.css'))}}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/elegant-icons@1.0.1/style.css">
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/front_logo.png')}}" />


    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/front_logo.png')}}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{{url_for('home')}}">
                            <img src="{{url_for('static', filename=('images/logo.png'))}}" alt="" width="96" height="40">
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{{url_for('home')}}">Homepage</a></li>
                                <li><a href="./categories.html">Discover ⌄</a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Categories</a></li>
                                        <li><a href="./anime-details.html">Popular</a></li>
                                        <li><a href="./anime-watching.html">Highest Rated</a></li>
                                        <li><a href="./anime-watching.html">Latest Releases</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="header__right">
                        <form action="{{ url_for('search') }}" method="GET" class="search-pill-form d-flex align-items-center">
                            <div class="search-box position-relative w-100">
                                <!-- Search icon inside the pill -->

                                <!-- Pill input -->
                                <input 
                                    type="search" 
                                    name="q" 
                                    class="form-control form-control-sm rounded-pill search-input ps-5 pe-3" 
                                    placeholder="Search" 
                                    value="{{ query or '' }}"
                                    autocomplete="off"
                                    required>
                                    <span class="search-icon position-absolute top-50 start-0 translate-middle-y ps-3 text-muted">
                                        <i class="fa-solid fa-search"></i>
                                    </span>      
                            </div>
                        </form>
                        <a href="#"><span class="icon_profile col-lg-2"><i class="fa-solid fa-user"></i></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
      </main>

<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton" ><p style="color: #ffffff;">⋀</p></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{{url_for('home')}}"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{{url_for('home')}}">Homepage</a></li>
                        <li><a href="./categories.html">Categories</a></li>
                        <li><a href="./blog.html">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="{{url_for('static', filename=('js/jquery-3.3.1.min.js'))}}"></script>
<script src="{{url_for('static', filename=('js/bootstrap.min.js'))}}"></script>
<script src="{{url_for('static', filename=('js/player.js'))}}"></script>
<script src="{{url_for('static', filename=('js/jquery.nice-select.min.js'))}}"></script>
<script src="{{url_for('static', filename=('js/mixitup.min.js'))}}"></script>
<script src="{{url_for('static', filename=('js/jquery.slicknav.js'))}}"></script>
<script src="{{url_for('static', filename=('js/owl.carousel.min.js'))}}"></script>
<script src="{{url_for('static', filename=('js/main.js'))}}"></script>


</body>

</html>